# To stop lombok from looking at parent directories for more configuration files
config.stopBubbling = true
# The following annotations in fields will be copied to constructors, getters, setters, etc.
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Value
